/*
* @Author: Yuk¡¤
* @Date:   2016-09-25 14:14:32
* @Last Modified by:   Yuk·
* @Last Modified time: 2016-09-25 14:14:37
*/
main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}
